<span class = "logo_left"><a href="/">Stare kino</a><i class="fas fa-video small"></i></span>
<a class = "btn logout" href="/users/logout"><i class="fas fa-user"></i><i class="fas fa-sign-out-alt"></i><span class = "logout_text">Wyloguj</span></a>