<span class = "logo">Stare kino<i class="fas fa-video"></i></span>
<h4>Zarezerwuj swój bilet już teraz!</h4>
<a class = "btn" href="/users/register">Rejestracja</a>
<a class = "btn" href="/users/login">Zaloguj się</a>
